<div>
<%= form_tag('/search', :method => 'get', id:"search-form",:enforce_utf8 => false) do %>
    <%= text_field_tag :search,params[:search], placeholder: "Search Songs" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
</div>
