<%= link_to gravatar_for(current_user),current_user %>
<h3><%= current_user.name %></h3>
<span><%= link_to "view my profile",current_user%></span><br>
<span>Uploaded <%= pluralize(current_user.songs.count,"songs") %></span>