<% provide(:title,"About") %>
<h1>About This Application</h1>
<p>	
I am student in Nagaoka University of Technology(NUT).
This application is for my research in NUT.
</p>	
<p>
<h2>=============Testing with System ===================</h2>

I would like to request your cooperation for my research in Music Recommendation System based on Lyric Analysis and User Behaviour.
The following are some steps for my research evaluation, and I hope to receive your feedback for my system.

Step by Step Procedure for Music Recommendation System Evaluation
<p>	
1. Please register in  My Research Recommendation System (http://khinezarthwe.me/). If you already registered please log in the system.
</p>
<p>
2.After you register and log in, Please find and listen your favourite songs ( In song tab, you can see all our uploaded songs in system. You can also use search box in our system). If you don’t find your favourite songs, you can upload the songs in the system. 
</p>
<p>
3.Please listen your favourite songs  ( at least 10 songs ) to know your recommendation.
</p>
<p>
4.After doing this, Please click link from home tab “Please click me to know recommendation” and wait for 1 or 2 minutes.
</p>
<p>
5.When you got the result, Please click the link “After knowing the result Please answer a survey for us!”
We select some songs for you. These songs are recommended songs for you. We appreciate your feedback on our system. 
</p>
<p>
Thank you so much for spending your valuable time and hope you have a nice day.
</p>


<p>
Khine Zar Thwe(Ms)<br>
Master 2nd Year,Knowledge System Laboratory<br>
Management and Information System Engineering<br>
Nagaoka University of Technology
</p>
</p>