<% provide(:title,"About") %>
<h1>About me</h1>
<p>
	I am Khine Zar Thwe From Nagaoka University of Technology.
	I write this Website for my research.
	My research is about Music Recommendation System for Every User.Not same with other music recommendation, when I made a recommendation, I use the song lyrics. Using the Latene Dirichlet Allocation and using the song lyrics , I can get the differnet user groups. Based on these groups I made a recommendation for user. 
	Another idea is when I make a group, I omit the unactive user. unactive user means a user who is the member of this website but he or she is no longer use for this website. Such kind of case, I omit these users as a noise for my system make a recommendation for user. By doing this my recommendtion system more accurate than the other recommendation system. 
	For that please help me to test this recommendation system.
	You can easily register the system and listen music and searching lyric after that I can make a recommendation for you. :D :D :D 

	Wish you happy day!
	Khine Zar
</p>	