<% provide(:title, 'Contact') %>
<%= link_to "Contact",contact_path %>
<p>
 <center> You can contact via email : koalakhine@gmail.com<br>
  github account:  https://github.com/khinezarthwe
  </center>
</p>