<% provide(:title,"Home") %>

<% if logged_in? %>
<div class="row">
  <aside class= "col-md-4">
    <section class = "user_info">
      <%= render 'shared/user_info'%>
    </section>
    <section class = "song_form">
      <%= render 'shared/song_form' %>
    </section>
  </aside>
</div>
<% else %>
<div class="center jumbotron">

<h1>Music Recommendation System</h1>
<p>
	This is the Home Page for My Music Recommendation System
</p>
<%= link_to "Sign up now!",signup_path, class: "btn btn-lg btn-info"%>
<div class="row">
  <div class="col-md-6">
  Search your favourite songs<br>
  You can search the song lyric in my system.<br>
  We can recommend for you!
  </div>
  <div class="col-md-6">
  You can see Popular song in our system.<br>
  We can recommend specific recommend for you.
  We hope you can satisfy our results.

  </div>
</div>
</div>
<% end %>


	
