$('#recommend_result').html("<h4>Recommended by Topic Models</h4><%= j (render @recommend_song) %>");
$('#recommend_result').slideDown(500);
$('#recommend_result2').html("<h4>Recommended by Song Genres</h4><%= j (render @genre_recommend_song) %>");
$('#recommend_result2').slideDown(500);
$('#recommend_result3').html("<h4>Recommended by Normal One</h4><%= j (render @nf_recommend_song) %>");
$('#recommend_result3').slideDown(500);
