<% provide(:title,"Recommend Song for you!") %>
<div class = "row">
  <div class= "col-md-8">
  <section class = "user_info">
  	<% if @recommend_song.nil? %>
  		<% "Please wait for calculating" %>
  	<% else %>
  		<ol class = "songs">
      	<%= render @recommend_song %>
  		</ol>
  	<% end %>
  </section> 
  </div>
</div>

